# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\source\JavaProjects\JavaFXGraphTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
